@tailwind base;
@tailwind components;
@tailwind utilities;

.template-background {
    background-image: url("../../assests/buildingbackground.jpg");
    background-size: contain;
    background-position: center;
    background-size: 80%;
  }

.template-shade {
  /*background: linear-gradient(180deg, #F2F2F2 0%, #F2F2F2 25%, #002E40 25%, #002E40 100%);*/
  background: #002E40;
}

.login-image {
  background-image: url('../../assests/construction_blue_full.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.forgot-password {
  background-image: url('../../assests/forgotpassword.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.designcenter {
  background-image: url('../../assests/designcenter.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.profiles {
  background-image: url('../../assests/Profiles.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.constructionstatus {
  background-image: url('../../assests/construction_status.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.catalog {
  background-image: url('../../assests/catalog.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
